<h1 class="govuk-heading-xl">
    Please share the details of the website where the behaviour happened.
</h1>


<p class="govuk-hint">

    If possible, share the specific webpage link where you saw the product or service.

</p>
{{ govukInput({
label: {
text: "Business name"
},
classes: "govuk-input--width-20",
id: "business-name",
name: "business-name",
value: values["business-name"],
errorMessage: errors["business-name"]
}) }}

{{ govukInput({
label: {
text: "Webpage link"
},
classes: "govuk-input--width-20",
id: "website",
name: "website",
value: values["website"],
errorMessage: errors["website"]
}) }}

{{ govukInput({
label: {
text: "Email address (optional)"
},
classes: "govuk-input--width-20",
id: "business-email",
name: "business-email",
value: values["business-email"],
autocomplete: "email",
attributes: {
    spellcheck: "false"
  },
errorMessage: errors["business-email"]
}) }}