<h1 class="govuk-heading-xl">
    Where is the business?
</h1>


<p class="govuk-hint">

    The address of the store where you saw the behaviour.

</p>
<div class="govuk-form-group">

{{ govukCharacterCount({
maxlength: 200,
rows:1,
label: {
text: "Business name"
},
classes: "govuk-input--width-20",
id: "business-name",
name: "business-name",
value: values["business-name"],
errorMessage: errors["business-name"]
}) }}

{{ govukCharacterCount({
maxlength: 200,
rows: 1,
label: {
text: "Street name (optional)"
},
classes: "govuk-input--width-20",
id: "street-name",
name: "street-name",
value: values["street-name"],
errorMessage: errors["street-name"]
}) }}

{{ govukCharacterCount({
maxlength: 200,
rows:1,
label: {
text: "Town or city"
},
classes: "govuk-input--width-20",
id: "town-name",
name: "town-name",
value: values["town-name"],
errorMessage: errors["town-name"]
}) }}

{{ govukCharacterCount({
maxlength: 200,
rows:1,
label: {
text: "County (optional)"
},
    hint:'',
    classes: "govuk-input--width-20",
id: "county",
name: "county",
value: values["county"],
errorMessage: errors["county"]
}) }}

{{ govukCharacterCount({
maxlength: 200,
rows:1,
label: {
text: "Postcode (optional)"
},
    hint:'',
classes: "govuk-input--width-20",
id: "postcode",
name: "postcode",
value: values["postcode"],
errorMessage: errors["postcode"]
}) }}
</div>