<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="company-location-hint">
        {{ govukRadios({
        idPrefix: "company-location",
        name: "company-location",
        fieldset: {
        legend: {
        text: "2. Where is the business you are reporting based?",
        isPageHeading: false,
        classes: "govuk-body-l"
        }
        },
        items: [
        {
        value: "online",
        text: "Online (please provide the link below)",
        checked: values["company-location"] === "online"
        },
        {
        value: "england",
        text: "England",
        checked: values["company-location"] === "england"
        },
        {
        value: "northern-ireland",
        text: "Northern Ireland",
        checked: values["company-location"] === "northern-ireland"
        },
        {
        value: "scotland",
        text: "Scotland",
        checked: values["company-location"] === "scotland"
        },
        {
        value: "wales",
        text: "Wales",
        checked: values["company-location"] === "wales"
        }
        ],
        errorMessage: errors["company-location"]

        }) }}

    </fieldset>
</div>