{% for item in food_products %}
{% include "includes/hidden_item.html" %}
{% endfor %}
<!--Prepare the hidden boxes-->
{% set textHtml %}
{{ govukCharacterCount({
classes: "govuk-input--width-20",
maxlength: 50,
label: {
text: "Product name"
},
rows: 1,
id: "other_food_product_name",
name: "other_food_product_name",
value: values["other_food_product_name"],
errorMessage: errors["other_food_product_name"]
}) }}

{{ govukCharacterCount({
classes: "govuk-input--width-20",
maxlength: 50,
label: {
text: "Type, size and brand of product (optional)"
},
rows: 1,
id: "other_food_product_description",
name: "other_food_product_description",
value: values["other_food_product_description"],
errorMessage: errors["other_food_product_description"]
}) }}

{{ hmctsCurrencyInput({
label: {
text: "Raised Price (optional)"
},
classes: "govuk-input--width-20",
id: "other_food_current_price",
name: "other_food_current_price",
hint: {
    text: 'For example, £1.20'
},
value: values["other_food_current_price"],
errorMessage: errors["other_food_current_price"]
}) }}

{{ hmctsCurrencyInput({
label: {
text: "Original Price (optional)"
},
hint: {
text: 'For example, £0.80'
},
classes: "govuk-input--width-20",
id: "other_food_expected_price",
name: "other_food_expected_price",
value: values["other_food_expected_price"],
errorMessage: errors["other_food_expected_price"]
}) }}

{% endset -%}

<!--Render the main checkbox-->
{{ govukCheckboxes({
idPrefix: 'other_food',
name: "product",
items: [
{
value: 'other_food',
checked: values["product"]|length and 'other_food' in values["product"],
text: "Other food product",
"conditional": {
"html": textHtml
}
}
]
}) }}