{% set orgNameClass = "govuk-input--width-20" %}



<fieldset class="govuk-fieldset" aria-describedby="basic-hint basic-error">

  {{ govukInput({
    label: {
    text: "Primary contact full name"
    },
    classes: "govuk-input--width-20",
    id: "primary-contact",
    name: "primary-contact",
    value: values["primary-contact"],
    errorMessage: errors["primary-contact"]
  }) }}

  {{ govukInput({
    label: {
    text: "Primary contact telephone number"
    },
    classes: "govuk-input--width-20",
    id: "phone",
    name: "phone",
    value: values["phone"],
    errorMessage: errors["phone"]
  }) }}
  {{ govukInput({
    label: {
    text: "Primary contact email address"
    },
    classes: "govuk-input--width-20",
    id: "email",
    name: "email",
    pattern: "^([A-Za-z0-9_\-.])+@([A-Za-z0-9_\-.])+\.([A-Za-z]{2,4})$",
    value: values["email"],
    errorMessage: errors["email"]
  }) }}

</fieldset>

<br />