<!--Prepare the hidden boxes-->
{% set textHtml %}
    {{ govukCharacterCount({
        classes: "govuk-input--width-20",
        maxlength: 50,
        label: {
            text: "Product type"
        },
        rows: 1,
        id: item.name+"_product_type",
        name: item.name+"_product_type",
        value: values[item.name+"_product_type"],
        errorMessage: errors[item.name+"_product_type"]
    }) }}

    {{ govukCharacterCount({
        classes: "govuk-input--width-20",
        maxlength: 50,
        label: {
            text: "Product brand"
        },
        rows: 1,
        id: item.name+"_product_brand",
        name: item.name+"_product_brand",
        value: values[item.name+"_product_brand"],
        errorMessage: errors[item.name+"_product_brand"]
    }) }}

    {{ govukInput({
        label: {
            text: "Pack size"
        },
        hint: {
            text: "Must be a valid integer"
        },
        classes: "govuk-input--width-20",
        id: item.name+"_pack_size",
        name: item.name+"_pack_size",
        value: values[item.name+"_pack_size"],
        errorMessage: errors[item.name+"_pack_size"]
    }) }}

    {{ govukInput({
        label: {
            text: "Current Price (£)"
        },
        hint: {
            text: "CDA Currency Format - no pound sign and no comma(s) - pence (.) are optional"
        },
        classes: "govuk-input--width-20",
        id: item.name+"_current_price",
        name: item.name+"_current_price",
        value: values[item.name+"_current_price"],
        errorMessage: errors[item.name+"_current_price"]
    }) }}

    {{ govukInput({
        label: {
            text: "Expected Size (£)"
        },
        hint: {
            text: " CDA Currency Format - no dollar sign and no comma(s) - pence (.) are optional"
        },
        classes: "govuk-input--width-20",
        id: item.name+"_expected_price",
        name: item.name+"_expected_price",
        value: values[item.name+"_expected_price"],
        errorMessage: errors[item.name+"_expected_price"]
    }) }}

{% endset -%}

<!--Render the main checkbox-->
{{ govukCheckboxes({
    idPrefix: 'product-'+loop.index,
    name: "product",
    items: [
        {
            value: item.name,
            checked: values["product"]|length and item.name in values["product"],
            text: item.text,
            "conditional": {
                "html": textHtml
            }
        }
    ]
}) }}