<!--Prepare the hidden boxes-->
{% set textHtml %}
{{ govukCharacterCount({
classes: "govuk-input--width-20",
maxlength: 50,
label: {
text: "Type, size and brand of product (optional)"
},
rows: 1,
id: item.name+"_product_description",
name: item.name+"_product_description",
value: values[item.name+"_product_description"],
errorMessage: errors[item.name+"_product_description"]
}) }}

{{ hmctsCurrencyInput({
label: {
text: "Raised Price (optional)"
},
hint: {
text: 'For example, £1.20'
},
classes: "govuk-input--width-20",
id: item.name+"_current_price",
name: item.name+"_current_price",
value: values[item.name+"_current_price"],
errorMessage: errors[item.name+"_current_price"]
}) }}

{{ hmctsCurrencyInput({
label: {
text: "Original Price (optional)"
},
hint: {
text: 'For example, £0.80'
},
classes: "govuk-input--width-20",
id: item.name+"_expected_price",
name: item.name+"_expected_price",
value: values[item.name+"_expected_price"],
errorMessage: errors[item.name+"_expected_price"]
}) }}

{% endset -%}

<!--Render the main checkbox-->
{{ govukCheckboxes({
idPrefix: 'product-'+loop.index,
name: "product",
items: [
{
id: item.name,
value: item.name,
checked: values["product"]|length and item.name in values["product"],
text: item.text,
"conditional": {
"html": textHtml
}
}
]
}) }}