{% for item in medical_products %}
{% include "includes/hidden_item.html" %}
{% endfor %}

<!--Prepare the hidden boxes-->
{% set textHtml %}
{{ govukCharacterCount({
classes: "govuk-input--width-20",
maxlength: 50,
label: {
text: "Product name"
},
rows: 1,
id: "other_medical_product_name",
name: "other_medical_product_name",
value: values["other_medical_product_name"],
errorMessage: errors["other_medical_product_name"]
}) }}

{{ govukCharacterCount({
classes: "govuk-input--width-20",
maxlength: 50,
label: {
text: "Description of product"
},
rows: 1,
id: "other_medical_product_description",
name: "other_medical_product_description",
value: values["other_medical_product_description"],
errorMessage: errors["other_medical_product_description"]
}) }}

{{ govukInput({
label: {
text: "Raised Price (£)"
},
classes: "govuk-input--width-20",
id: "other_medical_current_price",
name: "other_medical_current_price",
value: values["other_medical_current_price"],
errorMessage: errors["other_medical_current_price"]
}) }}

{{ govukInput({
label: {
text: "Original Price (£)"
},
classes: "govuk-input--width-20",
id: "other_medical_expected_price",
name: "other_medical_expected_price",
value: values["other_medical_expected_price"],
errorMessage: errors["other_medical_expected_price"]
}) }}

{% endset -%}

<!--Render the main checkbox-->
{{ govukCheckboxes({
idPrefix: 'other-medical',
name: "product",
items: [
{
value: 'other_medical',
checked: values["product"]|length and 'other_medical' in values["product"],
text: "Other medical product",
"conditional": {
"html": textHtml
}
}
]
}) }}