{% set formGroupClass = "govuk-form-group" %}

{% if errors["report_reason"] %}
{% set formGroupClass = formGroupClass + " govuk-form-group--error" %}
{% endif %}

<div class="{{formGroupClass}}">
  <fieldset class="govuk-fieldset" aria-describedby="report_reason-hint">
    <h1 class="govuk-heading-xl">What behaviour are you reporting?</h1>

    <span id="report_reason-hint" class="govuk-hint">
      If you need to report more than one of these behaviours, please complete the form once for each behaviour type
    </span>
    <span id="report_reason-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ errors["report_reason"].text }}
    </span>

    {% for item in reports %}
    {{ govukRadios({
              idPrefix: 'report_reason-'+loop.index,
              name: "report_reason",
              items: [
                {
                  value: item.name,
                  html: item.text,
                  checked: values["report_reason"]|length and item.name in values["report_reason"]
                }
              ]
              }) }}
    {% endfor %}
  </fieldset>
</div>