<div class="govuk-form-group">

  {% call govukFieldset({
    legend: {
      text: "What are your contact details?",
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}

  {{ govukCharacterCount({
  maxlength: 200,
  rows:1,
    fieldset: {
      legend: {
        text: "What are your contact details?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    label: {
    text: "Full name"
    },
    classes: "govuk-input--width-20",
    id: "contact-name",
    name: "contact-name",
    value: values["contact-name"],
    errorMessage: errors["contact-name"]
  }) }}

  {{ govukCharacterCount({
  maxlength: 200,
  rows:1,
    label: {
      text: "Email address (optional)"
    },
    classes: "govuk-input--width-20",
    id: "contact-email",
    name: "contact-email",
    pattern: "^([A-Za-z0-9_\-.])+@([A-Za-z0-9_\-.])+\.([A-Za-z]{2,4})$",
    value: values["contact-email"],
    errorMessage: errors["contact-email"]
  }) }}

  {{ govukCharacterCount({
  maxlength: 200,
  rows:1,
    label: {
    text: "Telephone number (optional)"
    },
    classes: "govuk-input--width-20",
    id: "contact-number",
    name: "contact-number",
    value: values["contact-number"],
    errorMessage: errors["contact-number"]
  }) }}

{% endcall %}

</div>
