<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="description-hint">
        {{ govukCharacterCount({
            classes: "govuk-input--width-20",
            maxlength: 200,
            label: {
              text: "7. If you know it, please provide the postal or email address of the business you are reporting below so we can contact them if necessary. (Optional)"
            },
            rows: 5,
            id: "company_address",
            name: "company_address",
            value: values["company_address"],
            errorMessage: errors["company_address"]
          }) }}
    </fieldset>
</div>