<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="evidence-hint">
        {{ govukRadios({
        idPrefix: "evidence",
        name: "evidence",
        fieldset: {
        legend: {
        text: "Can you provide evidence of the unfair behaviour?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
        }
        },
        hint: {
        text: "This could include a screenshot, a photograph or a receipt. You may be asked to provide the evidence at a later stage to support an investigation."
        },
        items: [
        {
        value: true,
        text: "Yes",
        checked: values["evidence"] == 'true'
        },
        {
        value: false,
        text: "No",
        checked: values["evidence"] == 'false'
        }
        ],
        errorMessage: errors["evidence"]

        }) }}

    </fieldset>
</div>