
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="report-hint">
   
          <span id="report-hint" class="govuk-hint">
            1.What do you want to report? (Required)
          </span>
          <div class="govuk-checkboxes">
            {% for item in reports %}
              {{ govukCheckboxes({
              idPrefix: 'report-'+loop.index,
              name: "report",
              items: [
                {
                  value: item.name,
                  html: item.text,
                  checked: values["report"]|length and item.name in values["report"]
                }
              ],
              errorMessage: errors["report"]
              }) }}
            {% endfor %}
          </div>
          <br />
        {{ govukInput({
            label: {
                text: "If you answered Other, please provide further details."
            },
            classes: "govuk-input--width-20",
            id: "report",
            name: "report",
            value: values["report-other"],
            errorMessage: errors["report-other"]
          }) }}
  
        </fieldset>
      </div>




<br />