<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            {{ item.name }}
        </dt>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="{{ item.url }}">
                Change<span class="govuk-visually-hidden"> {{ item.name }} </span>
            </a>
        </dd>
    </div>

    {% for row in item.rows %}
    {% if row %}
    {% include "includes/summary_list_product_row.html" %}
    {% endif %}
    {% endfor %}

</dl>