{% set formGroupClass = "govuk-form-group" %}

{% if errors["when"] %}
{% set formGroupClass = formGroupClass + " govuk-form-group--error" %}
{% endif %}

    <div class="{{formGroupClass}}">
        <fieldset class="govuk-fieldset" aria-describedby="when-hint">
          <h1 class="govuk-heading-xl">When did you see the behaviour?</h1>

          <span id="when-hint" class="govuk-hint">
            Please provide the date when the business behaved unfairly. For example, 28 3 2020.
          </span>
          <span id="nationality-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errors["when"].text }}
          </span>

     
            {% set dateInputDayClass = "govuk-input--width-2" %}
            {% set dateInputMonthClass = "govuk-input--width-2" %}
            {% set dateInputYearClass = "govuk-input--width-4" %}

            {% if errors["date-day"] %}
            {% set dateInputDayClass = dateInputDayClass + " govuk-input--error" %}
            {% endif %}
            {% if errors["date-month"] %}
            {% set dateInputMonthClass = dateInputMonthClass + " govuk-input--error" %}
            {% endif %}
            {% if errors["date-year"] %}
            {% set dateInputYearClass = dateInputYearClass + " govuk-input--error" %}
            {% endif %}

            {{ govukDateInput({
            id: "date",
            namePrefix: "date",
            fieldset: {
            legend: {
            text: "Date",
            classes: "govuk-fieldset__legend--m"
            }
            },
  
            items: [
            {
            classes: dateInputDayClass,
            name: "day",
            value: values["date-day"]
            },
            {
            classes: dateInputMonthClass,
            name: "month",
            value: values["date-month"]
            },
            {
            classes: dateInputYearClass,
            name: "year",
            value: values["date-year"]
            }
            ],
            errorMessage: errors["date"]
            }) }}

 
      </div>
