<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="is-online-hint">
        {{ govukRadios({
        idPrefix: "is-online",
        name: "is-online",
        fieldset: {
            legend: {
                text: "Where did the unfair behaviour happen?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
            }
        },
        hint: {
            text: ""
        },
        items: [
            {
        value: true,
        text: "Online",
        checked: values["is-online"] == 'true'
        },
        {
        value: false,
        text: "In store",
        checked: values["is-online"] == 'false'
        }
        ],
        errorMessage: errors["is-online"]

        }) }}

    </fieldset>
</div>