<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="is-online-hint">
        {% set textHtml %}

        {{ govukCharacterCount({
        maxlength: 200,
        rows:1,
        label: {
        text: "Where did you see the behaviour?"
        },
        classes: "govuk-input--width-20",
        id: "other_location",
        name: "other_location",
        value: values["other_location"],
        errorMessage: errors["other_location"]
        }) }}

        {% endset -%}

        {{ govukRadios({
        idPrefix: "is-online",
        name: "is-online",
        fieldset: {
            legend: {
                text: "Where did you buy, or try to buy a product or service from the business?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
            }
        },
        hint: {
            text: ""
        },
        items: [
            {
        value: true,
        text: "Online",
        checked: values["is-online"] === 'true'
        },
        {
        value: false,
        text: "In store",
        checked: values["is-online"] === 'false'
        },
        {
        value: 'other',
        text: "Other",
        checked: values["is-online"] === 'other',
        "conditional": {
        "html": textHtml
        }
        }
        ],
        errorMessage: errors["is-online"]

        }) }}

    </fieldset>
</div>