<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="medium-hint">
        {% set textHtml %}

        {{ govukCharacterCount({
        maxlength: 200,
        rows:1,
        label: {
        text: "Where did you see the behaviour?"
        },
        classes: "govuk-input--width-20",
        id: "other_location",
        name: "other_location",
        value: values["other_location"],
        errorMessage: errors["other_location"]
        }) }}

        {% endset -%}

        {{ govukRadios({
        idPrefix: "medium",
        name: "medium",
        fieldset: {
            legend: {
                text: "Where did you buy, or try to buy a product or service from the business?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
            }
        },
        hint: {
            text: ""
        },
        items: [
            {
        value: true,
        text: "Online",
        checked: values["medium"] === 'online'
        },
        {
        value: false,
        text: "In store",
        checked: values["medium"] === 'store'
        },
        {
            value: "telephone",
            text: "On the telephone",
            checked: values["medium"] === 'telephone'
        },
        {
        value: 'other',
        text: "Other",
        checked: values["medium"] === 'other',
        "conditional": {
        "html": textHtml
        }
        }
        ],
        errorMessage: errors["medium"]

        }) }}

    </fieldset>
</div>