{% extends "layout.html" %}
{% block pageTitle %}
Thank you
{% endblock %}

{% block header %}
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}


{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
    titleText: "Report complete",
    html: "Your reference number<br><strong>"+id+"</strong>"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">
      Your report has been sent to the Competition and Markets Authority. They will not respond to individual reports but are monitoring all the information provided and will take actions where appropriate. <a href ="https://www.gov.uk/government/organisations/competition-and-markets-authority"Updates will be published here.</a>
    </p>
  </div>
</div>
{% endblock %}

