{% extends "layout.html" %}


{% block header %}
{% endblock %}

{% set pageTitle = "Readiness to supply ventilators and ventilator components" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - GOV.UK{% endblock %}


{% block content %}
{% set orgNameClass = "govuk-input--width-20" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if errorSummary.length > 0 %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorSummary
        }) }}
        {% endif %}
        <h1 class="govuk-heading-xl">
            Report a business behaving unfairly during the COVID-19 outbreak
        </h1>

        <p class="govuk-body">
            Use this service to report a business you believe is behaving unfairly during the COVID-19 outbreak.
        </p>
        <p class="govuk-body">
            You’ll be asked some questions about the unfair behaviour you saw. 
        </p>
<!--         <p class="govuk-body">
            We can’t respond to individual reports directly but we’re monitoring all the information provided closely
            and will
            take action where appropriate.
            We’ll also publish updates online as required.
        </p> -->

    </div>


</div>


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">By submitting this form, you agree to the information you share about your
                    organisation being used by
                    BEIS and any other Government departments and their delivery partners in relation to this
                    initiative,
                    and to our <a href="privacy">privacy notice</a>.</p>
                <br />
                <form id="" action="/" method="post" class="form">
                    <button class="govuk-button" data-module="govuk-button">
                        Start
                    </button>
                </form>
            
        </div>


    </div>


</div>
<p class="govuk-body">
<a href="what_behaviour">What unfair behaviour are you reporting?</a>
<br />
<a href="when_behaviour">When did you see the unfair behaviour?</a>
<br />
<a href="contact_details">What are your contact details?</a>
<br />
<a href="where_is_business">Where is the business?</a>
<br />
<a href="what_happened">Where is the business?</a>
<br />
</p>
</div>

{% endblock %}