{% extends "layout.html" %}


{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% set pageTitle = "Report a business behaving unfairly during the Coronavirus (COVID-19) outbreak" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - GOV.UK{% endblock %}


{% block content %}
{% set orgNameClass = "govuk-input--width-20" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if errorSummary.length > 0 %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorSummary
        }) }}
        {% endif %}
        <h1 class="govuk-heading-xl">
            Report a business behaving unfairly during the Coronavirus (COVID-19) outbreak
        </h1>

        <p class="govuk-body">
            Use this service to report a business you believe is behaving unfairly during the Coronavirus (COVID-19) outbreak to the Competition and Markets Authority (CMA).
        </p>
        <p class="govuk-body">
            You’ll be asked some questions about the behaviour you witnessed.
        </p>
        <p class="govuk-body">
            By completing this form, you agree to the information you share being used by the Competition and Markets Authority and other bodies in relation to monitoring unfair business behaviour during the COVID-19 outbreak. You also agree to the <a href="https://www.gov.uk/government/organisations/competition-and-markets-authority/about/personal-information-charter">CMA personal information charter</a>, which explains how your personal information will be collected, used and shared.
        </p>
        <p class="govuk-body">
            The <a href="https://www.gov.uk/government/organisations/competition-and-markets-authority/about/personal-information-charter">CMA Privacy Notice</a> explains how your personal information will be collected, used and shared.
        </p>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    More information on how your data will be used
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    The Competition and Markets Authority (CMA) will use any information you provide to facilitate its statutory
                    functions. The information you provide will help the CMA develop its understanding of potential issues arising in
                    connection with the Coronavirus outbreak. Information may also be used to inform competition or consumer enforcement
                    action, should that be appropriate.
                </p>
                <p class="govuk-body">
                    When handling personal data (like your contact details), the CMA follows data protection law as set out in the
                    General Data Protection Regulation 2016 and the Data Protection Act 2018 and other law designed to protect sensitive
                    information. ‘Personal data’ is information which relates to you or someone else from which you can be identified.
                    The CMA will be the data controller for any personal information you provide. Where necessary, we may share
                    information with other law enforcement, consumer or regulatory bodies (nationally and internationally).
                </p>
            </div>
        </details>

        <a href="reset_session" role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
            data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>

    </div>


</div>

{% endblock %}