{% extends "layout.html" %}
{% block pageTitle %}
Report a business behaving unfairly during the Coronavirus (COVID-19) outbreak
{% endblock %}

{% block header %}
{{ govukHeader() }}
{% endblock %}



{% set mainClasses = "govuk-main-wrapper--l" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors.length > 0 %}
    {{ govukErrorSummary({
    titleText: "There "+error_start+errors.length+error_end,
    errorList: errors
    }) }}
    {% endif %}

    <h1 class="govuk-heading-xl">Submit your report</h1>
    <h2 class="govuk-heading-m" id="reason_title">
      Reason for complaint
    </h2>
    {% if reason %}
    {{ govukSummaryList({
    rows: reason
    }) }}
    {% else %}
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-error-message">
          Missing data
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/what_behaviour">
            Change<span class="govuk-visually-hidden"> report reason</span>
          </a>
        </dd>
      </div>
    </dl>
    {% endif %}
    <div class="govuk-!-padding-bottom-5"></div>

    {% if missingProducts %}
    <h2 class="govuk-heading-m" id="product_title">
      Product details
    </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-error-message">
            Missing data
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/which_products">
              Change<span class="govuk-visually-hidden"> report reason</span>
            </a>
          </dd>
        </div>
      </dl>
    <div class="govuk-!-padding-bottom-5"></div>
    {% else %}
    {% if show_products %}
    {% if product_list|length %}
      <h2 class="govuk-heading-m" id="product_title">
        Product details
      </h2>
      {% for item in product_list %}
        {% include "includes/summary_list_product.html" %}
      {% endfor %}
    {% endif %}
    {% if other_product %}
      {% if not product_list | length %}
        <h2 class="govuk-heading-m" id="product_title">
          Product details
        </h2>
      {% endif %}
      {{ govukSummaryList({
      rows: other_product
      }) }}
    {% endif %}
    <div class="govuk-!-padding-bottom-5"></div>
    {% endif %}
{% endif %}

    <h2 class="govuk-heading-m" id="business_title">
      Business details
    </h2>
    {% if business %}
    {{ govukSummaryList({
    rows: business
    }) }}
    {% else %}
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-error-message">
          Missing data
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/where_was_behaviour">
            Change<span class="govuk-visually-hidden"> business details</span>
          </a>
        </dd>
      </div>
    </dl>
    {% endif %}
    <div class="govuk-!-padding-bottom-5"></div>

    <h2 class="govuk-heading-m"id="contact_title">
      Contact details
    </h2>
    {% if contacts %}
    {{ govukSummaryList({
    rows: contacts
    }) }}
    {% else %}
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-error-message">
          Missing data
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/more_information">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>
      </div>
    </dl>
    {% endif %}
    <div class="govuk-!-padding-bottom-5"></div>

    <span id="when-hint" class="govuk-body">
      <p>By submitting this report you are confirming that, to the best of your knowledge, the details you are
        providing are correct.</p>
    </span>
    <br>

    <form id="" action="/submit" method="post" class="form">
      <div class="govuk-form-group">
        <input class="govuk-input" id="total_errors" name="total_errors" type="text" aria-label="total_errors"
               value="{{errors.length}}" aria-label="Total number of errors" hidden>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Submit
      </button>
    </form>
  </div>
</div>
{% endblock %}