{% extends "layout.html" %}
{% block pageTitle %}
Summary
{% endblock %}

{% block header %}
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}


{% set mainClasses = "govuk-main-wrapper--l" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Report a business behaving unfairly during the Coronavirus (COVID-19) outbreak    </h1>
    <span id="when-hint" class="govuk-body">
      <p> By clicking submit, you agree to your answers being sent to the CMA as per the privacy notice.</p>
    </span>
<br>

    <form id="" action="/submit" method="post" class="form">
      <button class="govuk-button" data-module="govuk-button">
        Submit
      </button>
    </form>
  </div>
</div>
{% endblock %}