{% extends "layout.html" %}
{% block pageTitle %}
Report a business behaving unfairly during the Coronavirus (COVID-19) outbreak
{% endblock %}

{% block header %}
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}


{% set mainClasses = "govuk-main-wrapper--l" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Submit your report</h1>


    {% if displayContacts == 'true' %}
    <h2 class="govuk-heading-m">
      Contact details
    </h2>
    {{ govukSummaryList({ 
      rows: contacts 
    }) }}
    <div class="govuk-!-padding-bottom-5"></div>
    {% endif %}


    <h2 class="govuk-heading-m">
      Business details
    </h2>
    {{ govukSummaryList({ 
      rows: business 
    }) }}
    <div class="govuk-!-padding-bottom-5"></div>


    <h2 class="govuk-heading-m">
      Reason for complaint
    </h2>
    {{ govukSummaryList({ 
      rows: reason 
    }) }}
    <div class="govuk-!-padding-bottom-5"></div>


    {% if product_list|length %}
    <h2 class="govuk-heading-m">
      Product details
    </h2>
    {% for item in product_list %}
    {% include "includes/summary_list_product.html" %}
    {% endfor %}
    <div class="govuk-!-padding-bottom-5"></div>
    {% endif %}

    
    <span id="when-hint" class="govuk-body">
      <p> By submitting this report you are confirming that, to the best of your knowledge, the details you are
        providing are correct.</p>
    </span>
    <br>

    <form id="" action="/submit" method="post" class="form">
      <button class="govuk-button" data-module="govuk-button">
        Submit
      </button>
    </form>
  </div>
</div>
{% endblock %}