{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% set pageTitle = "Report a business behaving unfairly during the Coronavirus (COVID-19) outbreak" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - GOV.UK{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
{% set orgNameClass = "govuk-input--width-20" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if errorSummary.length > 0 %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorSummary
        }) }}
        {% endif %}

        {% from "components/hmcts-currency-input/macro.njk" import hmctsCurrencyInput %}

        {{ hmctsCurrencyInput({
            id: 'amount',
            name: 'amount',
            classes: 'govuk-input--width-10',
            label: {
              text: 'How much do you need to pay?',
              classes: 'govuk-label--m'
            }
          }) }}
          
          {{hmctsCurrencyInput({
              classes: 'hmcts-currency-input__input--right-aligned',
              id: 'input2',
              name: 'input2',
              label: {
                classes: 'govuk-label--m',
                html: 'How much do you owe?'
              }
            })}}

        <form id="" action="/what_behaviour" method="post" class="form">
            {% include "includes/q1.html" %}
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>

    </div>

</div>

</div>

{% endblock %}