{% extends "layout.html" %}


{% set pageTitle = "Report a business behaving unfairly during the Coronavirus (COVID-19) outbreak" %}
{% block pageTitle %}{{ "Error: " if errors }}{{ pageTitle }} - GOV.UK{% endblock %}


{% block beforeContent %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
{% set orgNameClass = "govuk-input--width-20" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if errorSummary.length > 0 %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorSummary
        }) }}
        {% endif %}
    </div>

    <div class="govuk-grid-column-full">
        <form id="" action="/where_is_business" method="post" class="form">
            <div class="govuk-grid-column-two-thirds">
                {% include "includes/business_details.html" %}
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>

</div>

{% endblock %}